ion-content {
  --background: var(--ion-color-light);
}

ion-footer {
  background: var(--ion-color-light);
}

ion-toolbar {
  --background: var(--ion-color-light);
}

ion-button {
  --background: var(--ion-color-primary);
}

ion-datetime {
  --background: var(--ion-color-light);
}

// Remove any red underglow
::ng-deep .modal-wrapper {
  box-shadow: none !important;
}